@use "variables";
@use "price-card";

* {
  box-sizing: border-box;
}

html {
  font-family: Montserrat, sans-serif;
}

body {
  background-color: #141b1c;
  display: flex;
  height: 100vh;
  margin: 0;
}

.price-tibles {
  display: flex;
  column-gap: 18px;
  margin: auto;
}


