@use "variables";
.price-card {
  background-color: #334247;
  max-width: 380px;
  min-height: 770px;

  &__title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    line-height: 43px;
    font-weight: bold;
    color: variables.$color-white;
    margin-top: 32px;
    margin-bottom: 0;
  }

  &__subtitle {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    line-height: 24px;
    color: variables.$color-white;
  }

  &__price {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 105px;
    color: variables.$color-white;
    font-weight: bold;
    font-size: 55px;
    margin-top: 34px;

    &_green {
      background-color: variables.$green-color;
    }
    &_blue {
      background-color: variables.$blue-color;
    }
    &_orange {
      background-color: variables.$orange-color;
    }
  }

  &__description {
    margin: 39px 26px;
    font-weight: light;
    font-size: 15px;
    color: variables.$color-white;
    text-align: center;
  }

  &__options-list {
    list-style: none;
    color: variables.$color-white;
    line-height: 50px;
    padding-left: 0;
    font-size: 15px;
  }

  &__list-item {
    padding-left: 59px;
    position: relative;
  }

  &__list-item:nth-child(odd) {
    background-color: #2a3438;
  }

  &__icon {
    width: 15px;
    height: 13px;
    position: absolute;
    display: block;
    top: 19px;
    left: 22px;

    &_green {
      background: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+25/verification-checkmark-symbol_green.png)
        center no-repeat;
    }
    &_blue {
      background: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+25/verification-checkmark-symbol_blue.png)
        center no-repeat;
    }
    &_orange {
      background: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+25/verification-checkmark-symbol_orange.png)
        center no-repeat;
    }
  }

  &__order-btn {
    width: 156px;
    height: 40px;

    color: variables.$color-white;
    border: none;
    border-radius: 20px;
    font-weight: 400;
    font-size: 14px;
    margin: 39px 112px 40px;
    display: block;
    padding: 0;
    cursor: pointer;

    &_green {
      background-color: variables.$green-color;
    }

    &_blue {
      background-color: variables.$blue-color;
    }

    &_orange {
      background-color: variables.$orange-color;
    }
  }
}

.price-card:nth-child(2) {
  position: relative;
  overflow: hidden;
}

.price-card:nth-child(2) {
  .card-two__promotion {
    position: absolute;
    height: 25px;
    width: 147px;
    font-size: 15px;
    font-weight: bold;
    background-color: rgba(220, 63, 69, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(45deg);
    top: 31px;
    right: -30px;
    color: variables.$color-white;
  }
}
